Foodipedia.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Foodipedia.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Foodipedia.xcodeproj/project.xcworkspace/xcuserdata/tasha.xcuserdatad/UserInterfaceState.xcuserstate
Foodipedia.xcodeproj/xcuserdata/tasha.xcuserdatad/xcschemes/xcschememanagement.plist
